<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../resources/css/estilo.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link type="image/png" rel="icon" href="../../resources/img/K.png"/>
    <link rel="stylesheet" href="../../resources/css/estilos.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Kairos</title>
  </head>
  <body>
    <!-- menu-->
    <header class="fixed-top">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a href="index.html" class="brand-logo"><img src="../../resources/img/logo.png" height="60"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="productoc.html">Productos</a>
                  </li>
                <li class="nav-item">
                  <a class="nav-link" href="contacto.html">Contacto</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="comentarios.html">Comentarios</a>
                </li>
              </ul>
            </div>
          </nav>      
    </header>
    <br>
    <br>
    <!-- etiqueta del cuerpo de la pagina -->
    <main>
      <br>
      <div class= "text-center">
        <h1>Jogger</h1>
      </div>
      <br>
      <div>
        <!-- Cartas -->
        <div class="col-xs12-sm6-md4-lg3">
          <div class="card-group">
            <div class="card" style="width: 18rem;">
              <img src="../../resources/img/productos/joggersupre.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Supreme</h5>
                <p class="card-text">
                  Categoria: Jogger
                  </p>
                  <p class="card-text">
                    Descripcion: semi pantalon deportivo
                  </p>
                  <p class="card-text">
                      Precio: $20.00
                   </p>
                <a href="#" class="btn btn-primary">Comprar</a>
              </div>
            </div>
            <div class="card" style="width: 18rem;">
              <img src="../../resources/img/productos/joggergu.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Gucci</h5>
                <p class="card-text">
                  Categoria: Jogger
                  </p>
                  <p class="card-text">
                    Descripcion: pans deportivo
                  </p>
                  <p class="card-text">
                      Precio: $30.00
                   </p>
                <a href="#" class="btn btn-primary">Comprar</a>
              </div>
            </div>
            <div class="card" style="width: 18rem;">
              <img src="../../resources/img/productos/joggeradidas.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Adidas</h5>
                <p class="card-text">
                  Categoria: Jogger
                  </p>
                  <p class="card-text">
                    Descripcion: pans para hacer deporte
                  </p>
                  <p class="card-text">
                      Precio: $40.00
                   </p>
                <a href="#" class="btn btn-primary">Comprar</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class= "text-center">
        <h1>Camisas</h1>
      </div>
      <br>
    <div class="col-xs12-sm6-md4-lg3">
      <div class="card-group">
          <div class="card" style="width: 18rem;">
            <img src="../../resources/img/productos/adidas.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Adidas</h5>
              <p class="card-text">
                Categoria: Camisa
                </p>
                <p class="card-text">
                  Descripcion: camisa de calidad deportiva
                </p>
                <p class="card-text">
                    Precio: $20.00
                 </p>
              <a href="#" class="btn btn-primary">Ver mas</a>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="../../resources/img/productos/gucci.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Gucci</h5>
              <p class="card-text">
                Categoria: Camisa
                </p>
                <p class="card-text">
                  Descripcion: camisa para salir ah fiestas
                </p>
                <p class="card-text">
                    Precio: $25.00
                 </p>
              <a href="#" class="btn btn-primary">Ver mas</a>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="../../resources/img/Noticias/supreme.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Supreme</h5>
              <p class="card-text">
                Categoria: Camisa
                </p>
                <p class="card-text">
                  Descripcion: camisa casual para salir
                </p>
                <p class="card-text">
                    Precio: $30.00
                 </p>
              <a href="#" class="btn btn-primary">Ver mas</a>
            </div>
          </div>
        </div>
       </div>
       <br>
      <div class= "text-center">
        <h1>Short</h1>
      </div>
      <br>
    <div class="col-xs12-sm6-md4-lg3">
      <div class="card-group">
          <div class="card" style="width: 18rem;">
            <img src="../../resources/img/productos/shortadi.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Adidas</h5>
              <p class="card-text">
                Categoria: Short
                </p>
                <p class="card-text">
                  Descripcion: short para hacer deporte
                </p>
                <p class="card-text">
                    Precio: $27.00
                 </p>
              <a href="#" class="btn btn-primary">Ver mas</a>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="../../resources/img/productos/shortgu.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Gucci</h5>
              <p class="card-text">
                Categoria: Short
                </p>
                <p class="card-text">
                  Descripcion: short para la playa
                </p>
                <p class="card-text">
                    Precio: $29.00
                 </p>
              <a href="#" class="btn btn-primary">Ver mas</a>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="../../resources/img/productos/shortsu.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Supreme</h5>
              <p class="card-text">
                Categoria: Short
                </p>
                <p class="card-text">
                  Descripcion: short para la casa
                </p>
                <p class="card-text">
                    Precio: $21.00
                 </p>
              <a href="#" class="btn btn-primary">Ver mas</a>
            </div>
          </div>
        </div>
       </div>
    </main>
    
    <br>
    <!-- Footer -->
    <footer>
        <div class="card text-center">
            <a href="index.php" class="brand-logo"><img src="../../resources/img/logo.png" height="60"></a>
            <div class="card-body">
              <h5 class="card-title">Quienes somos?</h5>
              <p class="card-text">Somos una tienda en linea que vende ropa de marca muy reconocid en todo el mundo como adidas, supreme, gucci que son una de las marcas caras, pero nsotros las vendemos a precio mas accesible. 
            </div>
            <div class="card-footer text-muted">
                © 2020 Kairos. Todos los Derechos Reservados
            </div>
          </div>
    </footer>

    <!-- JavaScript -->
    <!-- todos los javascripts ocupados -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>